

<header class="show-mobile">
  <nav
    [ngClass]="{
      active:activeMenu
    }"
    class="side-menu">
    <button
      (click)="toggleMenu()"
      class="close-button">Close</button>
    <ul>
      <li><a routerLink="home">All</a></li>
      <li *ngFor="let c of categories">
        <a [routerLink]="['/category' , c.id]" >{{c.name}}</a>
      </li>
    </ul>
  </nav>

  <div>
    <button
      (click)="toggleMenu()">
      <img src="../../../assets/icon_menu.svg" alt="menu">
    </button>
    <a href="">
      <img src="../../../assets/logo_yard_sale.svg" alt="logo">
    </a>
    <a href="">
      <img src="../../../assets/icon_shopping_cart.svg" alt="logo">
    </a>
  </div>
</header>
<header class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="../../../assets/logo_yard_sale.svg" alt="logo">
      </a>
      <ul>
        <li><a routerLinkActive="ActiveLinkMenu" routerLink="home">All</a></li>
        <li *ngFor="let c of categories">
          <a routerLinkActive="ActiveLinkMenu"  [routerLink]="['/category' , c.id]" >{{c.name}}</a>
        </li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">
        <button *ngIf="!profile; else  elseBock "  (click)="login()">Login</button>
        <ng-template #elseBock>
          <a routerLink="/profile">{{profile?.name}}</a>
        </ng-template>
      </div>
      <button  (click)="createUser()">Crear usuario</button>
      <!-- <button (click)="getProfile()">Perfil</button> -->
      <div>
        <a href="">
          <img src="../../../assets/icon_shopping_cart.svg" alt="logo">
        </a>
        <span class="counter">{{counter}}</span>
      </div>
    </div>
  </div>
</header>
