<p>La cantidad agregada es  {{myProductsCard.length}} </p>
<p> El total es: ${{total}} </p>

<div class="products-grid">
  <app-products [product]="p" *ngFor="let p of products"
  (addedProduct)="onAddedShoppingCart($event)"
  (showDetailProduct)="onShowDetail($event)" ></app-products>
</div>

<div class="product-detail" [class.active] = "showProductDetail">
  <div *ngIf = "productChosen">
    <button (click)="toggleProductDetail()">
      Close
    </button>
    <img [src]="productChosen.images[0]" alt="">
    <p>{{productChosen.description}}</p>

  </div>
</div>